<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Profile - Privacy Dashboard</title>
    <meta http-equiv="description" content="Take control of your own data!">
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/fontawesome5-overrides.min.css">
    <link rel="stylesheet" href="assets/css/Bootstrap-Payment-Form.css">
    <link rel="stylesheet" href="assets/css/custom.css">
    <link rel="stylesheet" href="assets/css/custom.compiled.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/css/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/progress-circle.compiled.css">
    <link rel="stylesheet" href="assets/css/Social-Icons.css">
    <link rel="stylesheet" href="assets/css/timeline.css">
    <link rel="stylesheet" href="assets/css/Toggle-Switch.css">
    <link rel="stylesheet" href="assets/css/toggle.css">
<script>
 $(document).ready(function() {
      $('.progress .progress-bar').css("width",
                function() {
                    return $(this).attr("aria-valuenow") + "%";
                }
        )
    });
</script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js">
//remove at production
</script>


<script>
//initialize popovers for notes

$(function () {
  $('[data-toggle="popover"]').popover({
           html:true})

    .on("mouseenter", function () {
        var _this = this;
        $(this).popover("show");
        $(".popover").on("mouseleave", function () {
            $(_this).popover('hide');
        });
    })
    
    .on("mouseleave", function () {
        var _this = this;
        setTimeout(function () {
            if (!$(".popover:hover").length) {
                $(_this).popover("hide");
            }
        },500);
});
})

$('.popover-dismiss').popover({
  trigger: 'click'
})

</script>

<script>
$(function () {
        $("#switch-mfa").change(function () {
            if ($(this).is(":checked")) {
                $(".contentB").show();
                $(".contentA").hide();
            } else {
                $(".contentB").hide();
                $(".contentA").show();
            }
        });
    });
</script>

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script>
//Privacy Score Stackked Bar Chart

window.onload = function () {
var chart = new CanvasJS.Chart("privacy-score-chart", {
	animationEnabled: true,
	theme: "light1", //"light1", "dark1", "dark2"
	
	axisY:{
		interval: 10,
		suffix: "%"
	},
	toolTip:{
		shared: false
	},
	data:[{
		type: "stackedBar100",
		toolTipContent: "<b>{name}:</b> {y} (#percent%)",
		showInLegend: true, 
		name: "Score",
		dataPoints: [
			{ y: 300, label: "Score" },
		]
		},
		{
			type: "stackedBar100",
			toolTipContent: "<b>{name}:</b> {y} (#percent%)",
			showInLegend: true, 
			name: "Total",
			dataPoints: [
				{ y: 756, label: "Total" },
			]
		}, 
	]
});
chart.render();

}

</script>


</script>
</head>

<body id="page-top">
    <div id="wrapper">
        <nav class="navbar navbar-dark navbar-expand-lg bg-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
            <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-block justify-content-center align-items-center sidebar-brand mx-0" href="index.html">
                    <div id="logo" class="sidebar-brand-icon logo-image"><img class="pulse animated" src="assets/img/PrivacyBattle.png"></div>
                    <div class="text-secondary sidebar-brand-text mx-3" style="max-width: 100%;">
                        <h6 class="sidebar-brand-text">Dashboard</h6>
                    </div>
                </a>
                <hr class="sidebar-divider my-0">
                <ul class="nav navbar-nav text-light treeview-animated-list" id="accordionSidebar">
                    <li class="nav-item"><a class="nav-link" href="index.html"><i class="fas fa-chart-pie"></i><span>Summary</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="OpSec.html"><i class="fas fa-theater-masks"></i><span>OpSec</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="DataRemoval.html"><i class="fas fa-database"></i><span>Data Removal</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="creditfreeze.html"><i class="fas fa-icicles"></i><span>Credit Freeze</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="DataRequests.html"><i class="fas fa-cloud-download-alt"></i><span>Data Requests</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="Recurring.html"><i class="fas fa-tachometer-alt"></i><span>Recurring/Utilities</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-warehouse"></i><span>Home Privacy</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-laptop"></i><span>Computer Privacy</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="flag.html"><i class="far fa-flag"></i><span>Planting Your Flag</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="Disinformation.html"><i class="fas fa-american-sign-language-interpreting"></i><span>Disinformation</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="blank.html"><i class="fas fa-headset"></i><span>Consulting</span></a></li>
                    <li class="nav-item"><a class="nav-link" href="Resources.html"><i class="fas fa-link"></i><span>Resources</span></a></li>
                    <li class="nav-item">
                        <hr class="nav-hr"><a class="nav-link nav-link" href="Admin.html"><i class="fas fa-wrench"></i><span>Admin</span></a>
                    </li>
                    <li class="nav-item"><a class="nav-link nav-link" href="Submissions.html"><i class="fas fa-brain"></i><span class="d-inline">Submissions</span><span class="bg-success d-inline flash animated badge" style="margin-left: 5px;">12</span></a></li>
                </ul>
                <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="content-wrapper">
            <div id="content" class="d-flex flex-column min-vh-100">
                <nav class="navbar navbar-light navbar-expand bg-dark shadow-none mb-4 topbar static-top">
                    <div class="container-fluid"><button class="btn btn-link d-md-none rounded-circle mr-3" id="sidebarToggleTop" type="button"><i class="fas fa-bars"></i></button>
                        <form class="form-inline d-none d-sm-inline-block mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            <div class="input-group"><input class="bg-light form-control form-control-sm border-0 small" type="text" placeholder="Search for records..." name="searchbar">
                                <div class="input-group-append"><button class="btn btn-secondary py-0" type="button"><i class="fas fa-search"></i></button></div>
                            </div>
                        </form>
                        <ul class="nav navbar-nav flex-nowrap ml-auto">
                            <li class="nav-item dropdown d-sm-none no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><i class="fas fa-search"></i></a>
                                <div class="dropdown-menu dropdown-menu-right p-3 animated--grow-in" aria-labelledby="searchDropdown">
                                    <form class="form-inline mr-auto navbar-search w-100">
                                        <div class="input-group"><input class="bg-light form-control border-0 small" type="text" placeholder="Search for ...">
                                            <div class="input-group-append"><button class="btn btn-primary py-0" type="button"><i class="fas fa-search"></i></button></div>
                                        </div>
                                    </form>
                                </div>
                            </li>
                            <li class="nav-item dropdown no-arrow mx-1">
                                <div class="nav-item dropdown no-arrow"><a data-toggle="dropdown" aria-expanded="false" class="nav-link" href="#"><span class="bg-danger flash animated badge badge-counter">3</span><i class="far fa-bell fa-fw"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-list dropdown-menu-right animated--grow-in">
                                        <h6 class="dropdown-header" style="background: #dd5900;">Notification center</h6><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-warning icon-circle"><i class="far fa-clock text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">December 7, 2020</span>
                                                <p style="margin-bottom: 0px;">&gt;30 days since checked an item in People Search Websites</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item ribbon-wrapper ribbon" href="#">
                                            <div class="mr-3">
                                                <div class="bg-success icon-circle"><i class="fas fa-plus text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">November 13, 2020</span>
                                                <p style="margin-bottom: 0px;">New item added under Data Request (item name)</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-secondary icon-circle"><i class="far fa-trash-alt text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">February 23, 2020</span>
                                                <p style="margin-bottom: 0px;">Removing old item in 10 days: Pipl.com is now paid</p>
                                            </div>
                                        </a><a class="d-flex align-items-center dropdown-item" href="#">
                                            <div class="mr-3">
                                                <div class="bg-danger icon-circle"><i class="fas fa-exclamation-triangle text-white"></i></div>
                                            </div>
                                            <div><span class="small text-gray-500">June 23, 2020</span>
                                                <p style="margin-bottom: 0px;">&gt;60 days since checked an item in Maps</p>
                                            </div>
                                        </a><a class="text-center dropdown-item small text-gray-500" id="show-all-alerts" href="/notifications.html">Show All</a>
                                    </div>
                                </div>
                            </li>
                            <div class="d-none d-sm-block topbar-divider"></div>
                            <li class="nav-item dropdown no-arrow">
                                <div class="nav-item dropdown no-arrow"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#"><span class="d-none d-lg-inline mr-2 small">John Doe</span><img class="border rounded-circle img-profile" src="assets/img/PP-23.jpg"></a>
                                    <div class="dropdown-menu shadow dropdown-menu-right animated--grow-in"><a class="dropdown-item" href="settings.html"><i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Settings</a>
                                        <div class="dropdown-divider"></div>
                                        <p class="text-center" style="margin-bottom: 5px;">Switch Profile</p><a class="dropdown-item"><img class="border rounded-circle img-fluid avatar" src="assets/img/PP-35.jpg" style="margin-right: 5px;" width="30px" height="30px">&nbsp;Jane Smith</a><a class="dropdown-item"><img class="border rounded-circle img-fluid avatar" src="assets/img/PP-30.jpg" style="margin-right: 5px;" width="30px" height="30px">&nbsp;Mark Doe</a>
                                        <div class="dropdown-divider"></div><!-- Start: support --><a class="dropdown-item" href="#" data-toggle="modal" data-target="#support-modal"><i class="far fa-life-ring fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Support</a><!-- End: support --><a class="dropdown-item" href="login.html"><i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>&nbsp;Logout</a>
                                    </div>
                                </div>
                                <div class="modal fade" role="dialog" tabindex="-1" id="support-modal">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header" style="background: url(&quot;assets/img/interlaced.png&quot;);">
                                                <h4 class="modal-title"><i class="far fa-life-ring" style="padding-right: 5px;padding-left: 5px;"></i>Support</h4><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            </div><!-- Start: change password -->
                                            <div class="modal-body">
                                                <div class="row">
                                                    <div class="col">
                                                        <p>Please describe your issue here.</p>
                                                        <p>You need to have an email specified in your account to communicate with support.</p>
                                                        <p>If you prefer chat, come to the matrix room instead.</p><textarea class="form-control-lg" autofocus="" autocomplete="off" spellcheck="false" required="" minlength="10" maxlength="500" style="width: 100%;height: 150px;" placeholder="explain your issue..."></textarea>
                                                    </div>
                                                </div>
                                            </div><!-- End: change password -->
                                            <div class="modal-footer"><button class="btn btn-light" type="button" data-dismiss="modal">Cancel</button><button class="btn btn-primary" type="submit"><i class="far fa-thumbs-up" style="padding-right: 5px;padding-left: 5px;"></i>Submit</button></div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="container-fluid bg-dark border-dark">
                    <div class="d-sm-flex justify-content-between align-items-center mb-4" style="background: transparent;"></div>
                    <div class="row" style="width: 100%;">
                        <div class="col align-self-center mb-4">
                            <h1 class="text-dark mb-0" id="section-heading">FAQ</h1>
                            <p style="margin-top: 10px;">Frequently Asked Questions</p>
                        </div>
                    </div><!-- Start: FAQ -->
                    <div class="row justify-content-center align-items-center" style="margin-top: 25px;">
                        <div class="col-xl-9">
                            <h1 class="text-center d-xl-flex justify-content-xl-center align-items-xl-center"><i class="far fa-question-circle flash animated" style="font-size: 30px;margin-right: 5px;"></i></h1>
                            <div role="tablist" id="faq-accordion">
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="true" aria-controls="faq-accordion .item-1" href="#faq-accordion .item-1" class="accordion-header">How do you secure my information?</a></h5>
                                    </div>
                                    <div class="collapse show item-1" role="tabpanel" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <ul>
                                                <li>Our servers are protected with strong passwords, separation of privileges, obfuscation and multi factor authentication to name a few.</li>
                                                <li>We periodically perform penetration testing and remediate any issues</li>
                                                <li>We patch and update everything as soon as we can</li>
                                                <li>The data is encrypted</li>
                                                <li>We welcome feedback and improvements</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="faq-accordion .item-2" href="#faq-accordion .item-2" class="accordion-header">Is my information private?</a></h5>
                                    </div>
                                    <div class="collapse item-2" role="tabpanel" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <p class="card-text">Yes. We wouldn't be privacy advocates if we abused it. We do not, will not and can not view, share or sell any of your personal data because we don't have it.</p>
                                            <p class="card-text">The database is end-to-end encrypted by default. Even if we had access, there is no personal information stored besides your username (as a unique identifier), email (if you want updates), points (so we can deposit credit) and saved credit card info, if you save it (because the payment gateway uses it. This should be a burner/virtual card anyways). No logs are stored either.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="faq-accordion .item-3" href="#faq-accordion .item-3" class="accordion-header">Why is there a fee for higher tier services?</a></h5>
                                    </div>
                                    <div class="collapse item-3" role="tabpanel" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <p class="card-text">We have made most of the material available to everyone for free. The free tier should suffice for the majority of individuals. Once you have had a good sense of managing your own privacy and decide to take it to the next level, the higher tiers only cost enough to keep the lights on. Remember, if it's free, you are the product.</p>
                                            <p class="card-text">The entire platform has been completed and fully funded with personal funds. The small subscription fee covers some of the recurring costs of maintaining the rent for the servers, programmers fees for fixing bugs and feature updates, etc.</p>
                                            <p class="card-text">There are referral links in some of the products mentioned. These do not give us any information about you. They only throw some change for referring a new customer to a product we already use and endorse.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="faq-accordion .item-4" href="#faq-accordion .item-4" class="accordion-header">How do you make money?</a></h5>
                                    </div>
                                    <div class="collapse item-4" role="tabpanel" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <p class="card-text">We are not in this for the money. This platform was selfishly developed for personal use.</p>
                                            <p class="card-text">The subscription fees are only to maintain this system and keep the information up to date.</p>
                                            <p class="card-text">If millions of people sign up using the handful of referral links, we get compensated by a few $100 worth of product credit, not hard cash.</p>
                                            <p class="card-text" style="font-weight: bold;">We make money through clients who pay for our customized services.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="faq-accordion .item-5" href="#faq-accordion .item-5" class="accordion-header">What happens when my subscription ends?</a></h5>
                                    </div>
                                    <div class="collapse item-5" role="tabpanel" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <p class="card-text">If you wish not to renew your subscription, the tabs and options from the paid tiers will simply become disabled. You will be able to access those particular sections. But all your work in those tabs will be retained in the database (provided you don't delete your account). You can always export and download all your data at any time. Once you renew your subscription, those options will be enabled again.</p>
                                            <p class="card-text">But if you'd like to support the cause, you can continue to renew and help us out while continuing to reap the benefits.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="faq-accordion .item-6" href="#faq-accordion .item-6" class="accordion-header">What do I do if I have specific questions around a task?</a></h5>
                                    </div>
                                    <div class="collapse item-6" role="tabpanel" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <ul>
                                                <li>You can post a question in the forums and collaborate with others if you are part of any paid tier</li>
                                                <li>You can also reach out to us for private consultation</li>
                                                <li>You can also hire us to manage the entire process for you</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header" role="tab">
                                        <h5 class="mb-0"><a data-toggle="collapse" aria-expanded="false" aria-controls="faq-accordion .item-7" href="#faq-accordion .item-7" class="accordion-header" style="color: var(--gray);">Can I completely delete my account and data?</a></h5>
                                    </div>
                                    <div class="collapse item-7" role="tabpanel" data-parent="#faq-accordion">
                                        <div class="card-body">
                                            <p class="card-text">Of course. But before you hit delete, consider downloading a copy for yourself first and store it encrypted. You can import it back if you want.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- End: FAQ -->
                </div>
            </div>
            <footer class="text-white-50 bg-dark" style="min-height: 40px;padding-top: 5px;margin-top: 100px;">
                <div class="container-fluid d-inline-flex justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                    <div class="text-center d-inline"><span><a href="ChangeLog.html">Changelog</a></span><span>|</span><span><a href="PrivacyPolicy.html">Privacy Policy</a></span><span>|</span><span><a href="FAQ.html">FAQ</a></span><span>|</span><span><a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a></span><span><a href="#"><i class="fa fa-comments-o"></i></a></span></div>
                </div>
            </footer>
        </div>
    </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/chart.min.js"></script>
    <script src="assets/js/bs-init.js"></script>
    <script src="assets/js/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.5.0/js/bootstrap4-toggle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.js"></script>
    <script src="assets/js/theme.js"></script>
</body>

</html>