<div>
    <h1>Hello</h1>
    <form name="form1" method="POST" action="/forgot">
    <table>
        <tr>
        <td(for='email')>email</td>
        <td><input type="text" name="email" ></td>
        </tr>
       
        <td colspan="2"><input type="submit" value="Reset Password" ></td>
        </tr>
    </table>
    </form>   
   
</div>
