.navbar.navbar-dark.navbar-expand-lg.bg-dark.align-items-start.sidebar.sidebar-dark.accordion.bg-gradient-primary.p-0 {
  background: url("../../assets/img/black-texture.jpg"), linear-gradient(black 0%, white 100%), var(--dark);
  /*background: url("../../assets/img/Black%20Geometric.jpg");*/
}

a:hover {
  color: #cfcaca;
  font-style: normal;
}

a {
  color: #cfcaca;
  text-decoration: none;
  background-color: transparent;
}

.progress.mb-4 {
  -webkit-transition: none !important;
  transition: none !important;
}

input[type=checkbox], input[type=radio] {
  width: 20px;
  height: 20px;
}

.dropdown-menu.dropdown-menu-right.show.dropdown-list.dropdown-menu-right.animated--grow-in {
  overflow: auto;
  max-height: 550px;
}

.profile-pic {
  max-width: 100px;
  max-height: 100px;
  display: block;
}

#fileUpload {
  display: none;
}

.image-icon-over {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.image-icon-over:hover {
  color: #c21010;
}

.pricing-th-1 {
  background: var(--success);
  border-top-left-radius: 10px !important;
  padding: 10px !important;
}

.pricing-th-2 {
  background: var(--primary);
  border-top-left-radius: 10px;
  border-right: 0 none;
  padding: 10px !important;
}

.pricing-th-3 {
  background: var(--purple);
  border-top-right-radius: 10px !important;
  border-right: 0 none;
  padding: 10px !important;
}

.table-price {
  font-size: 12px;
  display: block;
  font-weight: 500;
}

.table.table-striped.table-hover.table-sm {
  border-collapse: collapse;
}

.modal-header, .card-header, .toast-header {
  background: url("../../assets/img/interlaced.png");
}

#wrapper, #content-wrapper, #page-top {
  /*background: url("../../assets/img/dark-honeycomb.png");*/
  /*color: var(--gray);*/
}

.toast-container {
  z-index: 99999;
  position: fixed;
  left: 50%;
  top: 2em;
}

.toast-body {
  text-align: center;
}

.accordion-header {
  color: grey;
}

.stretched-link:after, .accordion-header:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  pointer-events: auto;
  content: "";
  background-color: transparent;
}

.collapse {
  z-index: 100;
}

.accordion-header:hover {
  color: black;
}

@media (min-width: 768px) {
  .sidebar.toggled .nav-item .nav-link span {
    display: none;
  }
}
@media (min-width: 768px) {
  .sidebar.toggled .nav-item .nav-link i {
    font-size: 1.5rem;
  }
}
.text-center.d-none.d-md-inline {
  display: block;
}

#faq-accordion > .card > .card-header a {
  color: #666d70;
}

.toast.show {
  display: block;
}

.badge-counter {
  font-size: 16px;
  padding-top: 3px;
}

.user > .form-group > input, .user > .form-group > .form-check, .user > .form-group > button, .user > .form-group > span {
  margin-top: 10px;
  margin-bottom: 10px;
}

.logo-image > img {
  height: 70px;
  width: 70px;
}

.sidebar-brand {
  padding-bottom: 100px !important;
}

.sidebar .sidebar-brand .sidebar-brand-text {
  font-size: 12px;
  letter-spacing: 3px;
}

#wrapper #content-wrapper, .bg-dark {
  background: url("../../assets/img/dark-honeycomb.png");
  background-color: var(--dark);
}

.container-fluid.bg-dark.border-dark {
  padding-top: 24px;
}

.navbar.navbar-light.navbar-expand.bg-dark.shadow-none.mb-4.topbar.static-top {
  background: rgba(90, 92, 105, 0.5) !important;
  margin-bottom: 0px !important;
}

.nav-hr {
  margin: 0;
  border-color: var(--gray);
  width: 60%;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}

button > i, .icon-buffer {
  margin-right: 6px;
  margin-left: 6px;
}

.form-rounded-left, .form-rounded {
  border-top-left-radius: 5px !important;
  border-bottom-left-radius: 5px !important;
}

.form-rounded-right, .form-rounded {
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
}

.hint-text {
  font-size: 12px;
}

.submissions-textarea {
  width: 100%;
  min-height: 90px;
  max-height: 150px;
}

.info-icon {
  font-size: 25px;
}

.logo {
  height: 74px;
}

footer > div > div > span {
  margin-left: 10px;
  margin-right: 10px;
}

.faq-list > li {
  font-weight: 700;
}

.faq-list > li > span, ul {
  font-weight: 400;
}

.submissions-widget > span {
  font-size: 12px;
}

.submissions-widget {
  margin-top: -6px;
}

@media (max-width: 768px) {
  .table-sm td > i {
    display: none;
  }

  .fa-check {
    display: inline !important;
  }

  .table-sm td {
    font-size: 12px;
  }

  .pricing-th-1, .pricing-th-2, .pricing-th-3 {
    font-size: 12px;
    padding: 5px !important;
  }

  .table-sm tfoot > tr > td > button {
    font-size: 12px;
  }

  footer > div > div > span {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 12px;
  }
}