<nav
    class="navbar navbar-dark navbar-expand-lg bg-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0">
    <div class="container-fluid d-flex flex-column p-0"><a
            class="navbar-brand d-block justify-content-center align-items-center sidebar-brand mx-0"
            href="<%- siteUrl -%>">
            <div id="logo" class="sidebar-brand-icon logo-image"><img class="pulse animated"
                    src="img/PrivacyBattle.png"></div>
            <div class="text-secondary sidebar-brand-text mx-3" style="max-width: 100%;">
                <h6 class="sidebar-brand-text">Dashboard</h6>
            </div>
        </a>
        <hr class="sidebar-divider my-0">
        <ul class="nav navbar-nav text-light treeview-animated-list" id="accordionSidebar">
            <li class="nav-item"><a class="nav-link active" href="index.html"><i
                        class="fas fa-chart-pie"></i><span>Summary</span></a></li>
            <li class="nav-item"><a class="nav-link" href="OpSec.html"><i
                        class="fas fa-theater-masks"></i><span>OpSec</span></a></li>
            <li class="nav-item"><a class="nav-link" href="DataRemoval.html"><i class="fas fa-database"></i><span>Data
                        Removal</span></a></li>
            <li class="nav-item"><a class="nav-link" href="creditfreeze.html"><i class="fas fa-icicles"></i><span>Credit
                        Freeze</span></a></li>
            <li class="nav-item"><a class="nav-link" href="DataRequests.html"><i
                        class="fas fa-cloud-download-alt"></i><span>Data Requests</span></a></li>
            <li class="nav-item"><a class="nav-link" href="Recurring.html"><i
                        class="fas fa-tachometer-alt"></i><span>Recurring/Utilities</span></a></li>
            <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-warehouse"></i><span>Home
                        Privacy</span></a></li>
            <li class="nav-item"><a class="nav-link" href="register.html"><i class="fas fa-laptop"></i><span>Computer
                        Privacy</span></a></li>
            <li class="nav-item"><a class="nav-link" href="flag.html"><i class="far fa-flag"></i><span>Planting
                        Your Flag</span></a></li>
            <li class="nav-item"><a class="nav-link" href="Disinformation.html"><i
                        class="fas fa-american-sign-language-interpreting"></i><span>Disinformation</span></a>
            </li>
            <li class="nav-item"><a class="nav-link" href="blank.html"><i
                        class="fas fa-headset"></i><span>Consulting</span></a></li>
            <li class="nav-item"><a class="nav-link" href="Resources.html"><i
                        class="fas fa-link"></i><span>Resources</span></a></li>
            <li class="nav-item">
                <hr class="nav-hr"><a class="nav-link nav-link" href="Admin.html"><i
                        class="fas fa-wrench"></i><span>Admin</span></a>
            </li>
            <li class="nav-item"><a class="nav-link nav-link" href="Submissions.html"><i class="fas fa-brain"></i><span
                        class="d-inline">Submissions</span><span class="bg-success d-inline flash animated badge"
                        style="margin-left: 5px;">12</span></a>
            </li>
        </ul>
        <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle"
                type="button"></button></div>
    </div>
</nav>